attrs==25.4.0
black==25.1.0
blinker==1.9.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dotenv==0.9.9
Flask==3.1.2
flask-cors==6.0.1
fonttools==4.58.0
greenlet==3.2.4
h11==0.16.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.3
matplotlib==3.10.3
mypy_extensions==1.1.0
mysqlclient==2.2.7
numpy==2.2.5
outcome==1.3.0.post0
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.4.0
playwright==1.55.0
pycparser==2.23
pyee==13.0.0
PyMySQL==1.1.2
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.5
selenium==4.36.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.44
trio==0.31.0
trio-websocket==0.12.2
typing_extensions==4.15.0
undetected-chromedriver==3.5.5
urllib3==2.5.0
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wsproto==1.2.0
webdriver-manager
gunicorn==23.0.0
pdfminer.six==20250506
scikit-learn==1.5.2
scipy==1.14.1